<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">


<!--    for brackets:-->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/queries.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/all.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">

    <title>Bracketeer - New Tournament</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>

    <div th:replace="fragments/navbars.html">
        navbars fragment
    </div>

    <div class="main" align="center">
        <h1 id="title">All Tournaments</h1>

        <div>       
            <table class="tournament-table" cellspacing="0">
                <thead>
                    <tr>
                        <th class="col-code">Code</th>
                        <th class="col-name">Name</th>
                        <th class="col-type">Type</th>
                        <th class="col-action">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:block th:each="tournament : ${tournaments}">
                        <td class="col-code" th:text="${tournament.code}">tCode123451234512345</td>
                        <td class="col-name" th:text="${tournament.name}">tName</td>
                        <td class="col-type" th:text="${tournament.ruleSet.type}">tType</td>
                        <td class="col-action">
                            <form th:action="@{/tournament/{code}(code=${tournament.code})}"
                                  method="get">
                                <button class="open-tournament-button table-action-button generic-button"
                                        type="submit">Open</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>