<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">
    <link rel="stylesheet" type="text/css" href="/css/bracket-visualisation.css">


<!--    for brackets:-->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/queries.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bracket-visualisation.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">

    <title>Bracketeer - New Tournament</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>

    <div th:replace="fragments/navbars.html">
        Topnav bar fragment
    </div>

    <div class="main">
    
        <div class=bracket-graphic>

            <div th:each="r : ${rounds}"
                 class = "col-other-p"> <!--th:each="m : ${#numbers.sequence(1, __${numberOfRounds}__)}"-->
                dynamic divs here!
                <div th:each="m : ${r.matches}"> <!--each match-->
                    <p th:each="p : ${m.matchResultMap.keySet()}"
                    th:text="${p.name}">asd</p> <!-- add each player of match m i here -->
                </div>

            </div>

            <div class = "col-2p col-other-p">2 player finale
                <p>p1</p>
                <p>p2</p>
            </div>
            
            <p>PLACEHOLDER IMAGE</p>
            <img src="../../static/img/mario.jpg">
    
        </div>
        
    </div>


</body>

</html>