<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">
    
    
<!--    for brackets:-->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/queries.css">
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">
    
    <title>Bracketeer - New Tournament</title>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <div id="navbars-placeholder">
        navbars
    </div>
    
<!--    <script>-->
<!--        $(function(){-->
<!--            $("#navbars-placeholder").load("../../static/navbars.html");-->
<!--    $("#navbars-placeholder").load("/navbars.html");-->
<!--        });-->
<!--    </script>-->

    <script>
        $(function(){
    $("#navbars-placeholder").load("/navbars.html");
        });
    </script>
    
    <div class="main" align="center">
    
        <h1>Find an Existing Tournament</h1>
        <div class="find-box">
            <div class="Labels">
                <label>Id</label>
            </div>
            
            <div class="Inputs">
                <textarea></textarea>
            </div>
            <div class="actions">
                <button>Find</button>
            </div>
        </div>
    </div>
</body>
</html>