<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/queries.css">
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">
    
    <title>Bracketeer</title>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
    
<body>
    <div id="navbars-placeholder">
        Topnav bar
    </div>
    
    <script>
        $(function(){
          $("#navbars-placeholder").load("../navbars.html");
        });
    </script>
    
    <div class="main" align="center">
        <h1 id="title">New Tournament</h1>
        <table bor>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>0</td>
                <td>example</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <form id="new-tournament-players-form"
                          action="addPlayer"
                          method="POST">
                        <label id="add-player" for="player">Enter a new player</label>
                        <input id="player" type="string" name="player"/>
                        <input id="add-button" type="button" value="Add"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>