<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">
    
    
<!--    for brackets:-->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/queries.css">
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">
    
    <title>Bracketeer</title>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
    
<body>
    <div id="navbars-placeholder">
        Topnav bar
    </div>
    
    <script>
        $(function(){
            $("#navbars-placeholder").load("../../static/navbars.html");
<!--          $("#navbars-placeholder").load("/navbars.html"); -->
        });
    </script>
    
    <div class="main" align="center">
        <h1 id="title">New Tournament</h1>
        <table class="player-table" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="table-col-name">Name</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="participant : ${participants}">
                    <td th:text="${participant.id}">id</td>
                    <td class="table-col-name" th:text="${participant.name}">name</td>
                </tr>
                <tr>
                    <td>#</td>
                    <td>
                        <form id="new-tournament-players-form"
                              action="/tournament/addPlayer"
                              method="POST">
                            <label id="add-player" for="playerName"></label>
                            <input id="playerName" type="text" name="playerName"/>
                            <input id="add-button" type="submit" value="Add"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>