<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <h1 id="title">New Tournament</h1>
        <table>

        </table>
        <form id="new-tournament-players-form"
        action="addPlayer"
        method="POST">
            <label id="add-player" for="player">Enter a new player</label>
            <input id="player" type="string" name="player"/>
            <input id="add-button" type="button" value="Add"/>
        </form>
    </div>
</body>
</html>