<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">
    <link rel="stylesheet" type="text/css" href="/css/setup.css">


    <!--    for brackets:-->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/queries.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/setup.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">

    <title>Bracketeer - Existing Tournament</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <div th:replace="fragments/navbars.html">
        navbars fragment
    </div>

<!--    <script>-->
<!--        $(function(){-->
<!--            $("#navbars-placeholder").load("/templates/navbars.html");-->
<!--        });-->
<!--    </script>-->

    <div class="main" align="center">
        <h1 class="title">
            <form id="tournament-name-form"
                  th:action="@{/tournament/{tournamentCode}/setup(tournamentCode=${tournamentCode})}"
                  method="post">
                <input id="tournamentNameInput"
                       class="generic-input"
                       name="tournamentName"
                       contenteditable="true"
                       th:value="${tournament?.name} ?: 'Tournament Name'">
                <script>
                $("#tournamentNameInput").blur(function() {
                    $("#tournament-name-form").submit();
                });
                </script>
            </form>
        </h1>

        <div class="options">
            <ul>
                <li>Tournament Style:
                    <div class="dropdown"
                         th:switch="${tournament?.ruleSet.type.toString()}">

                        <a th:case="'SWISS'">Swiss &#x1F863;</a>

                        <a th:case="'ROUND_ROBIN'">Round Robin &#x1F863;</a>

                        <a th:case="'SINGLE_ELIMINATION'">Single Elimination &#x1F863;</a>

                        <a th:case="'DOUBLE_ELIMINATION'">Double Elimination &#x1F863;</a>

                        <a th:case="*">Select Type &#x1F863;</a>

                        <div class="dropdown-content">
                            <button form="setTypeForm" 
                                   class="generic-input"
                                   name="tournamentType"
                                   type=submit
                                    value="SWISS">Swiss</button>
                            <button form="setTypeForm" 
                                   class="generic-input"
                                   name="tournamentType"
                                   type=submit 
                                    value="ROUND_ROBIN">Round Robin</button>
                            <button form="setTypeForm" 
                                   class="generic-input"
                                   name="tournamentType"
                                   type=submit 
                                   value="SINGLE_ELIMINATION">Single Elim</button>
                            <button form="setTypeForm" 
                                   class="generic-input"
                                   name="tournamentType"
                                   type=submit 
                                   value="DOUBLE_ELIMINATION">Double Elim</button>
                        </div>
                        <form id="setTypeForm"
                              th:action="@{/tournament/{tournamentCode}/setup(tournamentCode=${tournamentCode})}"
                              method="post">
                        </form>
                    </div>
                </li>
                <li>item 2</li>
            </ul>
        </div>

        <div class="advanced-settings">
            <button class="accordion clickable stylish-button">v Advanced Settings v</button>
            <div class="advanced-settings-panel">
                <p>Advanced Settings go here</p>
                <table>
                
                <p>Points for a victory: _</p>
                <p>Points for a loss: _</p>
                <p>Points for a tie: _</p>
                    
                
                </table>
                
            </div>
            <!-- TODO this script is redundantly iterative, i'm only using it for one thing right now-->
            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");

                    /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                      panel.style.display = "none";
                    } else {
                      panel.style.display = "block";
                    }
                  });
                } 
            </script>
        </div>
        
        
        <table class="player-table" cellspacing="0">
            <thead>
            <tr>
                <th class="col-id">#</th>
                <th class="h-col-player-name">Name</th>
                <th class="col-action">Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:block th:each="participant, iteration : ${participants}">
                <td class="col-id" id="idField" th:text="${iteration.count}">ex</td>
                <td class="col-player-name" th:text="${participant.name}">example</td>
                <td class="col-action">
                    <form th:action="@{/tournament/{tournamentCode}/removePlayer?id={id}(id=${participant.id})}"
                          method="post">
                        <button class="player-remove-button table-action-button generic-button"
                                type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="col-id">-</td>
                <td class="col-player-name">
                    <form id="newTournamentAddPlayerForm"
                          th:action="@{/tournament/{tournamentCode}/addPlayer(tournamentCode=${tournamentCode})}"
                          class="form-player-name"
                          method="POST">
                        <!--                            <label id="add-player" for="playerName"></label>-->
                        <input id="playerName"
                               class="form-player-name"
                               type="text"
                               name="playerName"
                               autofocus="autofocus"/>
                        
                        
                        <!--                                <input id="add-button table-action-button" class="player-add-button generic-button" type="submit" value="Add"/>-->
                    </form>
                </td>
                <td class="col-action">
                    <button class="player-add-button generic-button"
                            type="submit"
                            form="newTournamentAddPlayerForm"
                            value="Submit">Add</button>
<!--
                    <a class="clickable"
                       th:href="'javascript:$(\'#newTournamentAddPlayerForm\').submit();'">Add</a>
-->
                </td>

            </tr>
            </tbody>
        </table>

        <div class="tournament-submit-buttons">
            <form id="tournament-save-form"
                  class="save"
                  th:action="@{/tournament/{tournamentCode}/save(tournamentCode=${tournamentCode})}"
                  method="post">
            </form>

            <form id="tournament-generate-first-round-form"
                  class="generate-form"
                  th:action="@{/tournament/{tournamentCode}/round/generate?roundNumber=1(tournamentCode=${tournamentCode})}"
                  method="post">
            </form>

            <a class="clickable"
               href="javascript:$('#tournament-save-form').submit();">Save</a>
            <a class="clickable"
               href="javascript:$('#tournament-generate-first-round-form').submit();">Generate first round pairings</a>
            <a class="clickable">Clear</a>

        </div>

        <div class="bottom-note">
            <p>Note: Once you generate the first round, you cannot change the format.</p>
        </div>

    </div>
</body>
</html>