<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">

<!--    direct path for brackets:-->
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/queries.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">
    
    <title>Bracketeer</title>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
    
<body>
<!--    <div id="navbars-placeholder">-->
<!--        Topnav bar-->
<!--    </div> -->

    <div th:replace="fragments/navbars.html">
        Topnav bar fragment
    </div>
    
<!--    <script>-->
<!--        $(function(){-->
<!--            $("#navbars-placeholder").load("/templates/navbars.html");-->
<!--        });-->
<!--    </script>-->

    <div class="main">
        
        <h2>Bracketeer</h2>
        <p>This sidebar is of full height (100%) and always shown.</p>
        <p th:text="'REPLACED BY THYMELEAF'">This would be replaced by Thymeleaf.</p>
        <div th:if="${1 < 2}">
            <p>optional</p>
        </div>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>

    </div>

</body>