<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/queries.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">

    <title>Bracketeer</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>


<div class="topnav">
    <a class="home-button" href="#home">{ bracketeer }</a>
    <a class="right">Log in</a>
    <a href="#about" class="right">About</a>
</div>

<div class="sidenav">
        <a>Tournament</a>
        <div class="subside">
            <a href="tournament/new">New</a>
            <a href="#tournament/existing">Existing</a>
        </div>
</div>