.pairing-table {
/*    if the gaps (cellspacing=0) should be done in css then its this:*/
/*    border-spacing: 0;*/
    border: 2px solid #ecf6fe;
    width: 70%;
    text-align: center;
}

.pairing-table .col-match-number {
    width: 5%;
}

.pairing-table .col-score,
.pairing-table .col-score-divider {
    border-left: none;
    border-right: none;
}

.pairing-table .col-score-divider {
    margin: 0;
    padding: 0;
    width: 1%
/*    font-size: 75%;*/
}

.pairing-table .col-score {
    width: 7%;
}

.pairing-table .col-name {
    width: 35%;
}

.pairing-table .col-action {
    width: 10%;
}

.pairing-table-score-input {
    text-align: center;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    resize: none;
    
}

.pairing-table a {
    display: inline-block;
    
/*    text-decoration: none;*/
    color: inherit;
}

