/* == COLOURS ==
blue:
    base: #289df6;
    lighter: #69bbf9;

dark:
    dark: #333;
    darker: #222;

light:
    base: #ecf6fe;
*/


/* == HTML AND BODY == */
body {
    margin: 0 0;
    font-family: 'Ubuntu', sans-serif;
/*    background-color: #eee;*/
    font-weight: 300;

/*    maybe this broke something, tbd*/
    color: #ecf6fe;
    
    background-color: #333;
    transition: color 0.25s;
}

body a:hover {
    color: #289df6;
    transition: color 0.25s;
}

/* == TOP NAVIGATION == */

.topnav {
    overflow: hidden;
    height: 90px;
    font-weight: 400;
    
/*    can't inherit because it's in a separate html file */
    transition: color 0.25s;
}

.topnav a {
    color: #ecf6fe;
    text-decoration: none;
    font-size: 20px;
}

.topnav .home-button {
    position: absolute;
    font-size: 40px;
    padding: 21px 80px;
    color: #097bd1;
    
    transition: inherit;
}

.topnav .home-button:hover, .home-button:active {
/*    color: #097bd1;*/
    color: #289df6;
}


.topnav .right {
    float: right;
    padding: 32px 30px;
    transition: inherit;
}

.topnav .right:hover, .right:active {
/*    no need because inherited from "body a"*/
/*    color: #289df6;*/
}


/* == SIDE NAVIGATION == */

.sidenav {
    margin-top: 90px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    font-size: 25px;
    
/*    can't inherit because it's in a separate html file */
    transition: color 0.25s;
}

.sidenav>a:first-child {
    padding-top: 30px;
}


.sidenav a {
    padding: 8px 5px 8px 20px;
    text-decoration: none;
    color: #ecf6fe;
    display: block;
    
    transition: inherit;
}

.sidenav a:hover {
/*    no need because inherited from "body a"*/
/*    color: #289df6;*/
}

.sidenav .subside {
    transition: inherit;
    
    margin: 0 0 0 20px;
    font-size: 80%;
/*    padding: 0 0 0 0;*/
    
}

.sidenav .subside a:last-child {
/*    together with .sidenav a padding of 8px, 
    this adds up to a 30px gap like in .sidenav>a:first-child */
    margin-bottom: 22px;
}

/* == COMMON MAIN BODY & HEADERS == */

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 10px 25px;

    font-size: 25px;
    line-height: 150%;
    
    color: #ecf6fe;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)),
        url(../img/bracket_aerial.jpg);
    
    background-size: cover;
    background-position: center;
    
    height: 100vh; 
    
}

.main h1, h2 {
/*    text-transform: uppercase;*/
    font-size: 50px;
    text-align: center;
}

.main p {
    
}


/* ==== NEW TOURNAMENT ==== */

/* == OPTIONS */

.options ul {
    list-style: none;
/*    list-style-type: none;*/
    padding: 5px 100px 5px 100px;
    
    text-align: left;
}

.options li {
/*    float: left;*/
    
    display: inline-block;
/*    text-align: left;*/
    padding: 16px;
    text-decoration: none;
}

.options li a {
}


/* == DROPDOWN CONTAINERS*/
.dropdown {
    display: inline-block;
    padding: 1px 5px;
/*  overflow: hidden;*/
    background-color: rgba(236, 246, 254, 0.18);
    border-radius: 8px;
    
    transition: inherit;
}

.dropdown:hover {
/*
    transition: color 0.25s;
    color: #289df6;
*/
}

.dropdown:hover .dropdown-content {
/*    display: block;*/
    height: auto;
    visibility: visible;
    opacity: 1;
/*    transition: opacity 1s;*/
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    margin: 1px;
    
/*    display: none;*/
    display: block;
/*    height: 0px;*/
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: visibility 0.25s, opacity 0.25s;
    
    position: absolute;
    
    color: #ecf6fe;
/*    background-color: rgba(236, 246, 254, 0.18);*/
    background-color: rgba(2, 27, 46, 0.98);
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
    border-radius: 10px;
}




/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    
    display: block;
    float: none;
    
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid #ecf6fe;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:link, a:visited  {
    color: #ecf6fe;
}

/* == COMMON PARTS*/
/* == BUTTONS */
.generic-button:hover, .generic-button:active {
    color: #289df6;
    transition: color 0.25s;
}

/* == PLAYER TABLE*/

.player-table {
/*    if the gaps (cellspacing=0) should be done in css then its this:*/
/*    border-spacing: 0;*/
    border: 2px solid #ecf6fe;
    width: 65%;
    
}

.player-table th, td {
    border: 1px solid #ecf6fe;
}

.player-table td {
    margin: 0;
    padding: 0;
    
    text-align: right;
}

.player-table .col-id {
    text-align: center;
    
    width: 10%;
}

.player-table .h-col-player-name {
    margin: 0;
    padding: 0;
    
    border-right: 1px solid #ecf6fe;
    
    width: 75%;

}

.player-table .col-action {
    border-left: 1px solid #ecf6fe;
    
    text-align: center;
    
    width: 15%;
}


.player-table .col-player-name {
    padding: 0 2.5%;
    border-right: 1px solid #ecf6fe;
    
    text-align: right;
    
    color: inherit;
    background-color: transparent;
    
    width: 75%;
    height: 42px;
    
}

.player-table .form-player-name {
    border: 0;
    
    float: right;
    
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 90%;
    
    text-align: right;
    
    color: inherit;
    background-color: transparent;
    
    width: 100%;
    height: 42px;
}

.player-remove-button {
    margin: 0 0;
    padding: 0 0;
    border: 0;

    font-size: 65%;
    
    color: inherit;
    background-color: transparent;
    
/*    would be 20% but there is 1px border */
/*    margin-left: 2%;*/
    width: 100%;
    height: 42px;
    
}

.player-add-button {
    margin: 0 0;
    padding: 0 0;
    border: 0;
    
    font-size: 65%;
    
    color: inherit;
    background-color: transparent;
    
    width: 100%;
    height: 42px;
}

.tournament-submit-buttons {
    
}

.tournament-submit-buttons form {
    display: inline-block;
    margin: 15px;
    padding: 5px;
}

.tournament-submit-buttons a {
    display: inline-block;
    margin: 15px;
    padding: 5px;
    
    text-decoration: none;
    color: inherit;
}

.tournament-submit-buttons a:active {
    
}

.bottom-note {
    font-size: 60%;
}

.clickable {
    display: inline-block;
    
    padding: 0 4px;
    
    color: inherit;
    
    line-height: 100%;
    
    transition: 250ms;
    border-bottom: 1px solid rgba(40, 157, 246, 0.8);
    
    text-decoration: none;
/*
    text-decoration: underline;
    text-decoration-color: #289df6;
    text-decoration-style: solid;
*/
    
}

.clickable:hover {
    transition: 250ms;
    border-bottom: 1px solid rgba(40, 157, 246, 0);
}

.not-clickable:hover {
    color: #ecf6fe;
}


.top-left-buttons {
/*    display: block;*/
    margin: 20px 10px;
    padding: 5px 5px;
    float: left;

}

.top-right-buttons {
/*    display: block;*/
    margin: 20px 10px;
    padding: 5px 5px;
    float: right;
    visibility: hidden;
}

/*
img {
    background-color: red;
    height: 50px;
    width: auto;
    filter: invert(47%) sepia(78%) saturate(1553%) hue-rotate(183deg) brightness(98%) contrast(96%);
}

*/

.title {
    text-align: center;
}

.title .generic-input {
    
}

.generic-input {
    text-align: center;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 80%;
    display: block;
    resize: none;
    
}

.tournament-table {
    width: 75%;
    text-align: right;
}

.tournament-table thead {
    text-align: center;
}

.tournament-table tbody tr td {
    padding: 0 2%;
}


.tournament-table .col-code {
    width: 30%;
}

.tournament-table .col-name {
    width: 35%;
}

.tournament-table .col-type {
    width: 20%;
}

.tournament-table .col-action {
    width: 10%;
}


/* make a generic table-action-button and only specify a couple of attributes here*/
.open-tournament-button{
    text-align: center;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 2px;
    width: 100%;
    display: block;
    resize: none;
    
}
