/* == COLOURS ==
blue:
    base: #289df6;
    lighter: #69bbf9;

dark:
    dark: #333;
    darker: #222;

light:
    base: #ecf6fe;
*/


/* == HTML AND BODY == */
body {
    margin: 0 0;
    font-family: 'Ubuntu', sans-serif;
/*    background-color: #eee;*/
    font-weight: 300;

/*    maybe this broke something, tbd*/
    color: #ecf6fe;
    
    background-color: #333;
    transition: color 0.25s;
}

body a:hover {
    color: #289df6;
    transition: color 0.25s;
}

/* == TOP NAVIGATION == */

.topnav {
    overflow: hidden;
    height: 90px;
    font-weight: 400;
    
/*    can't inherit because it's in a separate html file */
    transition: color 0.25s;
/*
    display: flex;
    align-items: center;
*/
}

.topnav a {
    color: #ecf6fe;
    text-decoration: none;
    font-size: 20px;
}

/*.topnav a:hover {*/
/*    background-color: #ddd;*/
/*    color: #000;*/
/*}*/

.topnav .home-button {
    position: absolute;
    font-size: 40px;
    padding: 21px 80px;
/*    background-color: #222;*/
/*    color: #289df6;*/
    color: #097bd1;
    
    transition: inherit;
}

.topnav .home-button:hover {
/*    color: #097bd1;*/
    color: #289df6;
}


.topnav .right {
    float: right;
    padding: 32px 30px;
    transition: inherit;
}

.topnav .right:hover {
/*    no need because inherited from "body a"*/
/*    color: #289df6;*/
}


/* == SIDE NAVIGATION == */

.sidenav {
    margin-top: 90px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    font-size: 25px;
/*    padding-top: px;*/
    
/*    can't inherit because it's in a separate html file */
    transition: color 0.25s;
}

.sidenav>a:first-child {
    padding-top: 30px;
}


.sidenav a {
    padding: 8px 5px 8px 20px;
    text-decoration: none;
    color: #ecf6fe;
    display: block;
    
    transition: inherit;
}

.sidenav a:hover {
/*    no need because inherited from "body a"*/
/*    color: #289df6;*/
}

.sidenav .subside {
    transition: inherit;
    
    margin: 0 0 0 20px;
    font-size: 80%;
/*    padding: 0 0 0 0;*/
    
}

.sidenav .subside a:last-child {
/*    together with .sidenav a padding of 8px, 
    this adds up to a 30px gap like in .sidenav>a:first-child */
    margin-bottom: 22px;
}

/* == COMMON MAIN BODY & HEADERS == */

.main h2 {
/*    text-transform: uppercase;*/
    text-align: center;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 30px;
    color: #ecf6fe;;
    padding: 10px 25px;
/*    background-image: url(../img/bracket_aerial.jpg);*/
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)),
        url(../img/bracket_aerial.jpg);
    
/*
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)),
        url(/img/bracket_aerial.jpg);
*/
    
    background-size: cover;
    
    background-position: center;
    
    height: 100vh; 
    
}

/* ==== NEW TOURNAMENT ==== */

/* == OPTIONS */

.options ul {
    list-style: none;
/*    list-style-type: none;*/
    padding: 5px 100px 5px 100px;
    
    text-align: left;
}

.options li {
/*    float: left;*/
    
    display: inline-block;
/*    text-align: left;*/
    padding: 16px;
    text-decoration: none;
}

.options li a {
}


/* == DROPDOWN CONTAINERS*/
.dropdown {
    display: inline-block;
    padding: 1px 5px;
/*  overflow: hidden;*/
    background-color: rgba(236, 246, 254, 0.18);
    border-radius: 8px;
    
    transition: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    margin: 1px;
    display: none;
    position: absolute;
    color: #ecf6fe;
    background-color: rgba(236, 246, 254, 0.18);
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    
    display: block;
    float: none;
    
  
    color: #ecf6fe;
    text-decoration: none;
    text-align: left;
}

/* == COMMON PARTS*/
/* == BUTTONS */
.generic-button:hover {
    color:  #289df6;
    transition: color 0.25s;
}

/* == PLAYER TABLE*/

.player-table {
/*    if the gaps (cellspacing=0) should be done in css then its this:*/
/*    border-spacing: 0;*/
    border: 2px solid #ecf6fe;
    width: 65%;
    
}

.player-table th, td {
    border: 1px solid #ecf6fe;
}

.player-table td {
    margin: 0;
    padding: 0;
    
    text-align: right;
}

.player-table .table-col-id {
    text-align: center;
    
    width: 10%;
}

.player-table .table-col-name {
    margin: 0;
    padding: 0;
    
    border-right: 1px solid #ecf6fe;
    
    width: 75%;

}

.player-table .table-col-action {
    border-left: 1px solid #ecf6fe;
    
    text-align: center;
    
    width: 15%;
}


.player-table .table-player-name {
    padding: 0 2.5%;
    border-right: 1px solid #ecf6fe;
    
    text-align: right;
    
    color: inherit;
    background-color: transparent;
    
    width: 100%;
    height: 42px;
    
}

.player-table .form-player-name {
    margin: 0 0;
    padding: 0 2.5%;
    border: 0;
    
    float: right;
    
    text-align: right;
    
    color: inherit;
    background-color: transparent;
    
    width: 95%;
    height: 42px;
}

.player-remove-button {
    margin: 0 0;
    padding: 0 0;
    border: 0;

    font-size: 65%;
    
    color: inherit;
    background-color: transparent;
    
/*    would be 20% but there is 1px border */
/*    margin-left: 2%;*/
    width: 100%;
    height: 42px;
    
}

.player-add-button {
    margin: 0 0;
    padding: 0 0;
    border: 0;
    
    font-size: 65%;
    
    color: inherit;
    background-color: transparent;
    
    width: 100%;
    height: 42px;
}

.tournament-submit-buttons {
    
}

.tournament-submit-buttons form {
    display: inline-block;
    margin: 15px;
    padding: 5px;
}

.tournament-submit-buttons a {
    display: inline-block;
    margin: 15px;
    padding: 5px;
    
    text-decoration: none;
    color: inherit;
}

.tournament-submit-buttons a:active {
    
}

.bottom-note {
    font-size: 60%;
}

.clickable {
    display: inline-block;
    padding: 4px;
    
    text-decoration: none;
    color: inherit;
} 

.not-clickable:hover {
    color: #ecf6fe;
}


.top-left-buttons {
/*    display: block;*/
    margin: 20px 10px;
    padding: 5px 5px;
    float: left;

}

.top-right-buttons {
/*    display: block;*/
    margin: 20px 10px;
    padding: 5px 5px;
    float: right;
    visibility: hidden;
}

/*
img {
    background-color: red;
    height: 50px;
    width: auto;
    filter: invert(47%) sepia(78%) saturate(1553%) hue-rotate(183deg) brightness(98%) contrast(96%);
}

*/

.title {
    text-align: center;
    
}

