<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- bean definitions -->
<!--    <bean id="dataSource"-->
<!--          class="org.apache.commons.dbcp.BasicDataSource"-->
<!--          destroy-method="close">-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/bracketeer?useSSL=false"/>-->
<!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
<!--        <property name="username" value="devuser"/>-->
<!--        <property name="password" value="devpassword420"/>-->
<!--    </bean>-->

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="url" value="${spring.datasource.url}"/>
        <property name="driverClassName" value="${spring.datasource.driver-class-name}"/>
        <property name="username" value="${spring.datasource.username}"/>
        <property name="password" value="${spring.datasource.password}"/>
    </bean>

<!--    <bean id="tournamentDao" class="com.romco.bracketeer.persistence.daoimpl.TournamentDaoImpl">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->

<!--    <context:property-placeholder location="application.properties"/>-->
</beans>