<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">

<!--    direct path for brackets:-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/queries.css">
    
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i&display=swap" rel="stylesheet">

    <title>Bracketeer</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>


<div class="topnav">
    <a class="home-button" href="/">{ bracketeer }</a>
    <a class="right" href="/login">login</a>
    <a class="right" href="/about" >about</a>
</div>

<div class="sidenav">
    <a class="not-clickable">Tournaments</a>
    <div class="subside">
        <a href="/tournament/new">New</a>
        <a href="/tournament/find">Find Existing</a>
        <a href="/tournament/all">All</a>
    </div>
    <div class=sidenav-current th:if="${tournamentCode != null}">
<!--        <p th:text="'REPLACED BY THYMELEAF'">This would be replaced by Thymeleaf.</p>-->
        <a class="not-clickable">Current</a>
        <div class="subside subside-current">
            <a th:href="'/tournament/' + ${tournamentCode} + '/standings'">Standings</a>
            <a th:href="'/tournament/' + ${tournamentCode} + '/round/1'">Pairings</a>
            <a th:href="'/tournament/' + ${tournamentCode} + '/players'">List of Players</a>
            <a th:href="'/tournament/' + ${tournamentCode} + '/setup'">Settings</a>
        </div>
    </div>
</div>